.tips-main {
  grid-template-columns: 0.3fr 4fr 6fr 0.3fr;
  grid-template-rows: 1.2fr 5fr 0.5fr;
}

.owling-tips-graphic {
  grid-row: 2/4;
  grid-column: 2;
  height: 85%;
  border-radius: 25px;
  justify-self: center;
  align-self: start;
  background-position: center;
  background-size: cover;
}

@media (max-width: 968px) {
  .tips-main {
    grid-template-columns: 0.3fr 6fr 0.3fr;
    grid-template-rows: 0.9fr 5fr 0.1fr;
    height: auto;
  }

  .owling-tips-graphic {
    display: none;
  }

}