.details-main {
  grid-template-rows: 1.5fr 3fr 4fr 0.2fr;
  grid-template-columns: 0.3fr 5fr 4fr 0.3fr;
}

.owl-detail-image {
  grid-row: 2/4;
  grid-column: 3;
  height: 93%;
  width: 90%;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
}

