.details-main {
  grid-template-rows: 1.2fr 5fr 0.5fr;
  grid-template-columns: 0.3fr 5fr 4fr 0.3fr;
}

.owl-detail-image {
  grid-row: 2/4;
  grid-column: 3;
  height: 93%;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .details-main {
    height: auto;
    grid-template-rows: 0.3fr 0.2fr 1fr 0.8fr 0.1fr;
    grid-template-columns: 0.3fr 5fr 0.3fr;
  }

  .owl-detail-image {
    grid-row: 3;
    grid-column: 2;
    height: 25em;
  }
}