.high-level-info-container {
  grid-row: 2;
  grid-column: 2;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.high-level-header {
  font-family: Span;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.high-level-sub-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.high-level-subheader {
  font-family: Span;
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
  margin: 0;
  margin-top: 0.1rem;
  margin-bottom: 0;
  line-height: 1;
  padding-left: 0.3rem;
  padding-right: 2rem;
}

.detail-favorite {
  height: 1.8rem;
  width: 1.8rem;
  z-index: 9999;
}

.high-level-blurb {
  font-size: 1.2rem;
  padding-left: 0.3rem;
  width: 90%;
}

.high-level-collapsed {
  transform: translateY(-8%);
  z-index: -1;
}

@media (max-width: 1100px) {
  .high-level-header {
    font-size: 2rem;
  }

  .high-level-subheader {
    font-size: 1.8rem;
  }

  .high-level-collapsed {
    transform: translateY(-2%);
  }

  .detail-favorite {
    height: 1.3rem;
    width: 1.3rem;
  }
}

@media (max-width: 760px) {
  .high-level-info-container {
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .high-level-header {
    font-size: 2.2rem;
  }

  .high-level-subheader {
    font-size: 1.7rem;
  }

  .high-level-collapsed {
    transform: translateY(-1%);
  }

  .detail-favorite {
    height: 1rem;
    width: 1rem;
  }
}