.further-info-container {
  margin-top: 3rem;
  grid-row: 2;
  grid-column: 2;
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.collapsible-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 1.5rem 0 0.6rem 0;
}

.collapsible-header {
  margin: 0.3rem 0;
}

.collapsible-button {
  font-size: 2rem;
  background: none;
  border: none;
}

.collapsible-button:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: rgb(3, 117, 111);
}

.collapsible-content {
  display: none;
  padding: 0.1rem 0;
}

.collapsible-content-expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collapsible-content-header {
  margin: 0;
  font-size: 1rem;
  font-family: brother 1816, sans-serif;
}

.collapsible-content-text {
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0.3rem 0 1rem 0;
}

.recent-obs-swiper {
  height: 200px;
  width: 38em;
}

@media (min-width: 1624px) {
  .recent-obs-swiper {
    width: 45em;
  }
}

@media (max-width: 1300px) {
  .recent-obs-swiper {
    width: 30em;
  }
}

@media (max-width: 1100px) {
  .recent-obs-swiper {
    width: 20em;
  }
  .collapsible-content-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .recent-obs-swiper {
    width: 13em;
  }
  
  .further-info-container {
    grid-row: 4;
    grid-column: 2;
    justify-content: flex-start;
  }
}

